@import "tailwindcss";
@import "@fontsource/dm-sans";


html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: "DM Sans",sans-serif;
  background: var(--color-background);
  color: var(--color-text);
}

/* =============================
   THEME
============================= */

@theme {
  
  /* Background */
  --color-background: #F8F5F2;
  --color-surface: #FFFDF9;

  /* Sidebar */
  --color-sidebar: #6F4E37;
  --color-sidebar-hover: #8B6B4A;

  /* Primary */
  --color-primary: #B08968;
  --color-primary-hover: #9C7454;

  /* Accent */
  --color-accent: #DDB892;

  /* Border */
  --color-border: #E7DDD4;

  /* Text */
  --color-text: #3E3025;
  --color-text-secondary: #7A685A;

  /* Status */
  --color-success: #8AAE92;
  --color-warning: #D9A441;
  --color-danger: #C97B63;

  /*Radius */
  --radius-card: 16px;  

  /* Shadow */
  --shadow-card: 
    0 4px 20px rgba(0,0,0,.05);

  --shadow-dropdown:
    0 10px 30px rgba(0,0,0,.08);

}
